@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo base */
body {
    @apply bg-gray-50 text-gray-900;
}
/* Ajuste para evitar rolagem lateral no mobile */
html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}